html, body { 
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    padding: 10px;
    text-align: center;
    color: white;
    z-index: 100;
}

header h1 {
    font-size: 50px;
}

footer {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

#container3D {
    width: 100% !important;
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}